# Large files or not related to codebase
data/
env/
deprecated/
backup/
bert-base-uncased/
train_log.csv
flickr8k.zip
latent_vis/
__pycache__/
.vscode/
README.zh_cn.md
README.md
generated_*
old_vae_deprecated/
ckpts/*
!ckpts/.placeholder
vae_infer_output/
mapping_model/
DeepSeek-R1-Distill-Qwen-1.5B/
*.pkl